# collaborative

Use the "Run" button to execute the code.

In [1]:
!pip install jovian --upgrade --quiet

In [30]:
import jovian

In [31]:
# Execute this to save new versions of the notebook
jovian.commit(project="collaborative-filtering")

[jovian] Attempting to save notebook..

[jovian] Error: The detected/provided file "collaborative.ipynb" does not exist. Please provide the correct notebook filename as the "filename" argument to "jovian.commit".

In [4]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
ratings=pd.read_csv("toy_dataset.csv",index_col=0)

In [5]:
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        NaN        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        NaN
user 3      1.0      NaN      NaN        4.0        5.0        4.0
user 4      NaN      2.0      1.0        4.0        NaN        3.0
user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [10]:
ratings.fillna(0, inplace=True)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [13]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

ratings_std = ratings.apply(standardize)

## we are taking transpose since we want similarity between items which need to be in rows
item_similarity =cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.          0.70668875  0.81368151 -0.79941088 -0.02539184 -0.91410609]
 [ 0.70668875  1.          0.72310153 -0.84515425 -0.5189993  -0.84337386]
 [ 0.81368151  0.72310153  1.         -0.84794611 -0.3799803  -0.80218063]
 [-0.79941088 -0.84515425 -0.84794611  1.          0.14803913  0.72374686]
 [-0.02539184 -0.5189993  -0.3799803   0.14803913  1.          0.39393939]
 [-0.91410609 -0.84337386 -0.80218063  0.72374686  0.39393939  1.        ]]

In [15]:
item_similarity_df=pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

## lets make recommendation

In [19]:
def get_similar_movies(movie_name,user_rating):
    similar_score=item_similarity_df[movie_name]*user_rating
    similar_score=similar_score.sort_values(ascending=False)
    
    return similar_score
    
print(get_similar_movies("action1",5))

action1      5.000000
action3      4.068408
action2      3.533444
romantic2   -0.126959
romantic1   -3.997054
romantic3   -4.570530
Name: action1, dtype: float64

In [20]:
def get_similar_movies(movie_name,user_rating):
    similar_score=item_similarity_df[movie_name]*(user_rating-2.5)
    similar_score=similar_score.sort_values(ascending=False)
    
    return similar_score
    
print(get_similar_movies("romantic3",1))

action1      1.371159
action2      1.265061
action3      1.203271
romantic2   -0.590909
romantic1   -1.085620
romantic3   -1.500000
Name: romantic3, dtype: float64

In [21]:
action_lover = [("action1",5),("romantic2",1),("romantic3",1)]
similar_scores = pd.DataFrame()
for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar_movies(movie,rating),ignore_index = True)

similar_scores.head(10)

    action1   action2   action3  romantic1  romantic2  romantic3
0  2.500000  1.766722  2.034204  -1.998527  -0.063480  -2.285265
1  0.038088  0.778499  0.569970  -0.222059  -1.500000  -0.590909
2  1.371159  1.265061  1.203271  -1.085620  -0.590909  -1.500000

In [22]:
similar_scores.sum().sort_values(ascending=False)

action1      3.909247
action2      3.810282
action3      3.807445
romantic2   -2.154389
romantic1   -3.306206
romantic3   -4.376174
dtype: float64

In [32]:
jovian.commit()

[jovian] Attempting to save notebook..

[jovian] Error: The detected/provided file "collaborative.ipynb" does not exist. Please provide the correct notebook filename as the "filename" argument to "jovian.commit".

In [33]:
corrMatrix = ratings.corr(method='pearson')
corrMatrix.head(6)

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000